doctype html
html(lang='en')
  head
    title API EndPoints
    style.
      a {
      display: inline;
      }
  body
    p Activity GET
    a(href='/activity') Click
    p advanceInsightsGET
    a(href='/advanceInsights') Click
    p balance GET
    a(href='/balance') Click
    p blogs GET
    a(href='/blogs') Click
    p borrowing GET
    a(href='/borrowing') Click
    p budgetPlanner GET
    a(href='/budgetPlanner') Click
    p decentralizedLoan GET
    a(href='/decentralizedLoan') Click
    p documentVerficiation GET
    a(href='/documentVerficiation') Click
    p intraBankTransaction GET
    a(href='/intraBankTransaction') Click
    p advanceInsights GET
    a(href='/advanceInsights') Click
    p news GET
    a(href='/news') Click
    p p2pLending GET
    a(href='/p2pLending') Click
    p register GET
    a(href='/register') Click
    p searchResult GET
    a(href='/searchResult') Click
    p login POST
    a(href='/login') Click
    p register POST
    a(href='/register') Click
