.container{
    padding: 20px;
}

.grid{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
}

.grid > article{
    background: #f3f8fa;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    border-radius: 7px;
    border: 1px solid ;
    text-align: center;
    width: 300px;
    height: 420px;
    transition: transform .3s;
    cursor: pointer;
}

.grid > article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.7);
} 

.grid > article img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.text{
    padding: 10px 20px 10px 20px;
    text-align: left;
}

.text h5{
    text-transform: uppercase;
}

.newsLink{
    text-decoration: none;
    color: black;
}
/* 
.newsLink:hover{
    color: black;
} */

@media (max-width: 768px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .grid > article{
        text-align: center;
    }
}